body {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px ;
    background-color: azure;
}
#display {
    width:140px;
    height:40px;
    font-size:20px;
    text-align: right;
    margin-bottom: 10px;
    padding: 5px;
}

table {
    margin:auto;
    border-collapse:collapse;
}

td {
    padding: 10px;
}

button {
    width:60px;
    height:40px;
    font-size:18px;
    cursor:pointer;
    border: none;
    background-color: rgb(19, 206, 144);
    border-radius: 5px;
    transition:background-color 0.2 ease;
}

button.hover{
    background-color:darkgreen;
}