body {
    background: black;
    color: white;
    font-family: monospace;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    display: flex;
    gap: 20px;
    border: 3px solid rgb(255, 255, 255);
    padding: 10px;
}

canvas {
    border: 2px solid white;
    image-rendering: pixelated;
    background: black;
}

#menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
