body {
    background: #000;
    color: #fff;
    text-align: center;
    font-family: sans-serif;


}

canvas {
    display: block;
    margin:20px auto;
    background: #111;
    border: 2px solid #444;
}