html,
body,
canvas {
    margin: 0;
    padding: 0;
    border: 0;
    user-select: none;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #1a1619;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background-color: 
    #fad4d9;
}
